.card {
    padding: 16px;
    background-color: $gray;
    border-radius: 16px;

		// .card__image

		&__image {
      display: block;
      max-width: 100%;
      border-radius: 12px;
      margin: 0;
		}

		// .card__text-container

		&__text-container {
    
		}

		// .card__title

		&__title {
		}

		// .card__description

		&__description {
		}
}
