.page {
  font-family: 'Roboto', sans-serif;
}

.header {

  &__link {
    text-decoration: none;
    color: $white;
    font-size: 24px;

    transition: color 0.2s ease;

    &_active {
      color: $orange
    }
  }
}
